body{
    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;
    /* overflow: hidden; */

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;

    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

#tools{
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;
}